<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UP_4.Properties.Settings.MagazineConnectionString"
            connectionString="Data Source=DESKTOP-MM4ENFA\SQLEXPRESS;Initial Catalog=Magazine;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>